<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="https://api.openweathermap.org/data/2.5/forecast"/>
    <add key="api_key" value="appid=420921df8365ba95397255cc2e3195bf"/>
    <add key="api_city" value="?q=London,gb"/>
  </appSettings>
</configuration>